<section class="profile">
  <div class="container">
    <div class="row">
      <%= gravatar_for_profile @user %>
      <h1><%= @user.name %></h1>
      <% if @user.homepage %>
        <p><%= link_to 'Homepage', @user.homepage %></p>
    <% end %>
      <% if @user.location %>
        <p><strong>Location</strong>: <%= @user.location %></p>
    <% end %>
      <% if current_user == @user %>
        <%= link_to 'Edit your Profile', edit_profile_path(@user) %>
    <% end %>
    </div>
  </div>
  <% if @user.speaker.expertise %>
    <h1>Speaker Information</h1>
  <% unless @user.speaker.url && current_user == @user %>
    <p>You haven't created your speaker profile yet: <%= link_to 'Edit your speaker profile', edit_speaker_path(@user.speaker) %></p> 
<% end %>
  <p><strong>Areas of Expertise:</strong> <%= @user.speaker.expertise %></p>
  <% unless @user.speaker.slides %>
    <p><strong>Slides</strong>: <%= GitHub::Markdown.render_gfm(@user.speaker.slides).html_safe %></p>
<% end %>
  <% unless @user.speaker.past_talks %>
    <p><strong>Past Talks</strong:<%= GitHub::Markdown.render_gfm(@user.speaker.past_talks).html_safe %></p>
<% end %>
  <% unless @user.speaker.upcoming_talks %>
    <p><strong>Upcoming Talks</strong>: <%= GitHub::Markdown.render_gfm(@user.speaker.upcoming_talks).html_safe %></p>
<% end %>
  <% if current_user == @user %>
    <%= link_to 'Edit your speaker profile', edit_speaker_path(@user.speaker) %>
<% end %>
<% end %>
</div>
</section>
