<h1>schedule of events</h1>
<section class="container">

<%= form_tag conferences_path, method: 'get' do %>
  <p>
  Name: <%= text_field_tag "search[name]", params[:search][:name] %>
  </p>
  <p>
  Date:
    <%= text_field_tag "search[date]", params[:search][:date], id: "search_date" %>
  </p>
  <p>
    Category:
    <%= text_field_tag "search[category]", params[:search][:category] %>
  </p>
  <p>
    Childcare available:
    <%= check_box_tag "search[childcare]", "1", params[:search][:childcare] %>
  </p>
  <p>
    Has a safety policy:
    <%= check_box_tag "search[safety_policy]", "1", params[:search][:safety_policy] %>
  </p>
  <p>
    Near Location:
    <%= text_field_tag "search[location]", params[:search][:location] %>
  </p>
  <p>
    <%= submit_tag "Search", :name => nil %>
  </p>
 <% end %>

<table class="schedule">
  <thead>
    <tr>
      <th colspan="2">
        <h2>Month 2013</h2>
        <div class="pushpin"><%= image_tag "pushpin.gif" %></div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="event">
      <th class="date">
        <div class="calendar-icon"></div></th>
      <td>
        <h3>Conference Name</h3>
        <p>Place, State</p>
      </td>
    </tr>
        <tr class="event">
      <th class="date">
        <div class="calendar-icon"></div></th>
      <td>
        <h3>Conference Name</h3>
        <p>Place, State</p>
      </td>
    </tr>

  <table class="schedule">
    <thead>
      <tr>
        <th colspan="2">
          <h2>Day 2: Friday, November 8</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="event">
        <th class="date">
          <div class="calendar-icon"></div>
        </th>
        <td>
          <h3>Conference</h3>
          <p>Location, Anywhere
        </td>
      </tr>
    </tr>

  <tbody>
  </section>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.name %></td>
        <td><%= conference.start_date %></td>
        <td><%= conference.end_date %></td>
        <td><%= conference.location %></td>
        <td><%= conference.category %></td>
        <td><%= conference.safety_policy %></td>
        <td><%= conference.childcare %></td>
        <td><%= link_to pluralize(conference.activities.count, "Activity"), conference_activities_path(conference) %></td>
        <td><%= link_to 'Show', conference %></td>
        <td><%= link_to 'Edit', edit_conference_path(conference) %></td>
        <td><%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conference', new_conference_path %>
