<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @conference.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @conference.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @conference.end_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @conference.location %>
</p>

 <% if @conference.category.present? %>
  <p>
    <strong>Category:</strong>
    <%= @conference.category %>
  </p>
 <% end %>

<p>
  <strong>Safety Policy:</strong>
  <%= safety_policy_link(@conference) %>
</p>

<% if @conference.childcare %>
  <p>
    <strong>Offers childcare:</strong>
  </p>
<% end %>

<p>
 <strong>Airports</strong>
 <%= render 'nearby_airports' %>
</p>

<p>
<strong>Hotels</strong>
  <%= render 'nearby_hotels' %>
</p>

<div id='map'>
<%= render 'map' %>
</div>

<%= link_to 'Edit', edit_conference_path(@conference) %> |
<%= link_to 'Back', conferences_path %>

