<h1>Speakers</h1>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> | <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %> 
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> | <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
<% end %>
<% @speakers.each do |speaker| %>
  <h2><%= link_to h(speaker.full_name), speaker_path(speaker) %></h2>
  <%# <a href="<%= speaker.url %1>">URL</a> %>
  <%# <% if !speaker.slides.empty? %1> %>
  <%#   <h3>Slides</h3> %>
  <%#   <a href="<%= speaker.slides %1>">URL</a> %>
  <%# <% end %1> %>
  <%# <% if !speaker.past_talks.empty? %1> %>
  <%#   <h3>Past Talks</h3> %>
  <%#   <p><%= speaker.past_talks %1></p> %>
  <%# <% end %1> %>
  <%# <% if !speaker.location.empty? %1> %>
  <%#   <h3>Location</h3> %>
  <%#   <p><%= speaker.location %1></p> %>
  <%# <% end %1> %>
<% end %>

<br>

<%= link_to 'Add a Speaker', new_speaker_path %>

<%# <table> %>
<%#   <thead> %>
    <%# <tr> %>
    <%#   <th>First Name</th> %>
    <%#   <th>Last Name</th> %>
    <%#   <th>URL</th> %>
    <%#   <th>Slides</th> %>
    <%#   <th>Past Talks</th> %>
    <%#   <th>Location</th> %>
    <%#   <th></th> %>
    <%#   <th></th> %>
    <%#   <th></th> %>
    <%# </tr> %>
  <%# </thead> %>

  <%# <tbody> %>
  <%#   <% @speakers.each do |speaker| %1> %>
  <%#     <tr> %>
  <%#       <td><%= speaker.first_name %1></td> %>
  <%#       <td><%= speaker.last_name %1></td> %>
  <%#       <td><%= speaker.url %1></td> %>
  <%#       <td><%= speaker.slides %1></td> %>
  <%#       <td><%= speaker.past_talks %1></td> %>
  <%#       <td><%= speaker.location %1></td> %>
  <%#       <td><%= link_to 'Show', speaker %1></td> %>
  <%#       <td><%= link_to 'Edit', edit_speaker_path(speaker) %1></td> %>
  <%#       <td><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %1></td> %>
  <%#     </tr> %>
  <%#   <% end %1> %>
  <%# </tbody> %>
<%# </table> %>

