<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.user.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @speaker.url %>
</p>


<% if @speaker.slides.present? %> 
  <p>
    <strong>Slides:</strong>
    <%= GitHub::Markdown.render_gfm(@speaker.slides).html_safe %>
  </p>
<% end %>


<% if @speaker.past_talks.present? %>
<p>
  <strong>Past Talks:</strong>
  <%= GitHub::Markdown.render_gfm(@speaker.past_talks).html_safe %>
</p>
<% end %>

<% if @speaker.user.location.present? %>
<p>
  <strong>Location:</strong>
  <%= @speaker.user.location %>
</p>
<% end %>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
