<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.user.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @speaker.url %>
</p>


<% if !@speaker.slides.empty? %> 
  <p>
    <strong>Slides:</strong>
    <%= @speaker.slides %>
  </p>
<% end %>


<% if !@speaker.past_talks.empty? %>
<p>
  <strong>Past Talks:</strong>
  <%= @speaker.past_talks %>
</p>
<% end %>

<% if !@speaker.user.location.empty? %>
<p>
  <strong>Location:</strong>
  <%= @speaker.user.location %>
</p>
<% end %>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
