<!DOCTYPE html>
<html>
<head>
  <title>flock | making gathering easier.</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="navbar">
    <div class="container">
      <a href="#"><h1>flock</h1></a>
      <ul class="navigation-links">
        <a href="#"><li>help</li></a>
      </ul>
    </div>
  </section>
<header>
  <div class="circle">
    <section class="logo-image">
      <%= image_tag "flock.png" %>
    </section>
  </div>
</header>
<body class="<%= controller.controller_name %>">
  <section class="container">
    <%= yield %>
  </section>
</body>
</html>
