<!DOCTYPE html>
<html>
<head>
  <title>flock | making gathering easier.</title>
  <%= stylesheet_link_tag "welcome", media: "all" %>
  <%= javascript_include_tag "welcome" %>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
      <script>
      $(function () {
        topAndLockIt($(".circle"), {
          width:   50,
          height:  50,
          opacity: 1.0
        })
      })
    </script>
</head>
<body>
	<section id="navbar">
		<div class="container">
			<a href="#"><h1>flock</h1></a>
			<ul class="navigation-links">
				<a href="#"><li>help</li></a>
			</ul>
		</div>
	</section>

	<header>
		<div class="container">
			<div class="circle">
				<section class="logo-image">
					<%= image_tag "flock.png" %>
				</section>
			</div>
			<h1 class="welcome-header">Making gathering easier.</h1>
		</div>
		</div>
	</header>
<%= yield %>
</body>
</html>
